
body {
    text-align: center;
    justify-content: center;
    background-image: url(fundo.png);
    background-size: 5000px;
    background-repeat: no-repeat;

}

header {
    margin-bottom: 10%;
    justify-content: center;

}
button {
    justify-content: center;
    border-radius: 10%;
    color: rgba(90, 141, 183, 0.81);
}
li{
    list-style-type: none;
}
.sorteio {
    display: flex;
    background-color: aliceblue;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    border:  rgb(0, 0, 0) solid;
    margin: 200px;
}